<form id="formulaire" method="POST" action="{{ path('check_form') }}">
    <div class="col-12">
        <h2>Formulaire</h2>

        <div class="row">
            <div class="col-3">
                <input type="file" class="btn btn-primary">Ajouter le fichier</input>
                <button type="submit" class="btn btn-danger">Enregistrer</button>
            </div>
        </div>
    </div>
</form>